@charset "utf-8"; 

.leftBox {
	width: 180px;
	float: left;
	overflow: hidden;
}

.LeftCon {
	border: 1px solid #ddd;
}

.LeftCon h2, .leftList h2 {
	font: bold 14px/30px '微软雅黑';
	background: #f2f2f2;
	padding-left: 10px;
}

.LeftCon ul {
	padding: 5px 10px;
}

.LeftCon ul li {
	line-height: 24px;
}

.LeftCon ul li a:hover {
	text-decoration: underline;
	color: #c00;
}

.leftList {
	border: 1px solid #ddd;
	margin-top: 20px;
}

.leftList li {
	background: #fff;
	border-bottom: 1px solid #ededed;
	line-height: 22px;
	padding: 10px 8px;
	transition: background-color .5s;
}

.leftList li:hover {
	background-color: #f6f6f6;
	cursor: pointer;
}

.title {
	display: inline-block;
	width: 160px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	height: 44px;
	margin-top: 10px;
	display: block;
}

.title:hover {
	text-decoration: underline;
	color: #c00;
}

.price {
	font: 700 18px/24px Verdana, Arial;
	color: #c00;
	text-align: left;
	display: block;
}

.leftList li img {
	border: 1px solid #ddd;
	width: 160px;
	height: 160px;
	overflow: hidden;
}

.advertising li {
	width: 180px;
	height: 180px;
	overflow: hidden;
	margin-top: 10px;
}

.rightBox {
	width: 780px;
}

.chanelBanner img {
	width: 780px;
	overflow: hidden;
}

.bannerBtns {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.bannerBtns span, .bannerBtns span.curr {
	background: url(images/bg.png) 0 -105px no-repeat;
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-left: 8px;
	cursor: pointer;
}

.bannerBtns span.curr {
	background-position: -15px -105px;
}

.TabCon {
	border-top: 1px solid #ddd;
}

.TabCon ul {
	border-left: 1px solid #ddd;
}

.TabCon li {
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.TabCon li.chanelWide {
	width: 584px;
	height: 300px;
}

.TabCon a {
	display: block;
	width: 100%;
}

.TabCon a img {
	width: 600px;
}

.TabCon a:hover img {
	margin-left: -10px;
}

.TabCon li.chanelNarrow {
	width: 193px;
}

.TabCon li.chanelSmall {
	width: 194px;
}

.chanelNarrow a img {
	width: 200px;
	height: 300px;
}

.chanelSmall a img {
	width: 205px;
	height: 205px;
}

.TabCon img {
	transition: all .3s ease 0s;
}

.tehui li {
	background: #fff;
	width: 220px;
	padding: 13px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.tehui h1 {
	font: 700 24px '微软雅黑';
	color: #666;
}

.tehui h1 span {
	font-size: 16px;
	padding-left: 5px;
}

.tehui h3 a {
	font: 400 14px/24px '微软雅黑';
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	height: 48px;
	color: #333;
}

.tehui h3 a:hover {
	text-decoration: underline;
	color: #c00;
}

.tehui h4 {
	color: #999;
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 24px;
	height: 48px;
}

.tehui p strong {
	font: 400 22px/24px Verdana, Arial;
	color: #c00;
}

.tehui p del {
	position: relative;
	top: -7px;
	margin-left: 3px;
	color: #999;
}

.tehuiMsg {
	background: #eee;
}

.tehuiMsg ul {
	padding: -0 0 10px 10px;
}

.qiangouBtn {
	background: #c00;
	color: #fff;
	display: inline-block;
	font: 400 14px/22px '微软雅黑';
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
}

.qiangouBtn:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.tehuiMsg li img {
	width: 220px;
	height: 220px;
	overflow: hidden;
	cursor: pointer;
	padding: 10px 0;
}

.group li {
	float: left;
}

.proPrice {
	font: 400 36px/40px Verdana, Arial;
	color: #c00;
}

.proPrice em {
	font-style: normal;
	font-size: 22px;
}

.proImg {
	display: block;
	width: 490px;
	height: 300px;
	cursor: pointer;
}

.proImg img {
	width: 490px;
	height: 300px;
}

.prodshow {
	background: #fff;
	left: 0; alpha (opacity=90);
	-moz-opacity: .9;
	opacity: .9;
	bottom: 0;
	width: 470px;
	padding: 5px 10px;
	overflow: hidden;
}

.proDiscount {
	margin-left: 10px;
	font-size: 14px;
	margin-top: 3px;
}

.proDiscount span {
	color: #c00;
	font: 400 14px/20px '微软雅黑';
	display: block;
	line-height: 20px;
}

.proDiscount del {
	display: block;
	font-size: 14px;
}

.buyMsg p {
	text-align: right;
	font: normal 14px/20px Arial, '微软雅黑';
}

.buyMsg span {
	font: normal 14px/20px Arial, '微软雅黑';
}

.buyMsg b, .time b {
	background: url(images/bg.png) 0 -123px no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	bottom: 3px;
	left: -24px;
}

.grouplist .proImg {
	width: 300px;
	height: 300px;
	margin: 8px;
}

.grouplist li {
	width: 318px;
	margin-right: 10px;
	border: 1px solid #ddd;
	float: left;
	cursor: pointer;
}

.grouplist .proImg img {
	width: 300px;
	height: 300px;
}

.time {
	font: 14px/20px Arial, '微软雅黑';
	background: #000;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	margin-top: -30px;
}

.time b {
	background-position: -17px -123px;
	left: 60px;
	bottom: 8px;
}

.ProTitle {
	display: block;
	height: 48px;
	margin-top: 10px;
	overflow: hidden;
	width: 300px;
	word-break: break-all;
	word-wrap: break-word;
	cursor: pointer;
	font: normal 14px/24px '微软雅黑';
	margin: 0 9px;
}

.ProTitle:hover {
	color: #c00;
	text-decoration: underline;
}

.priceShow {
	padding: 0 9px;
	background: #eee;
	margin-top: 5px;
}

.grouplist .proPrice {
	font-size: 30px;
}

.grouplist .proDiscount del {
	font-size: 12px;
}

.grouplist .proDiscount span {
	line-height: 18px;
}

.haveBuy {
	padding-top: 20px;
}

.grouplist ol {
	width: 990px;
}

.grouplist ol li {
	margin-top: 10px;
}

.grouplist li:hover {
	border-color: #c00;
}

.grouplist li:hover .priceShow {
	background: #c00;
}

.grouplist li:hover .proPrice {
	color: #fff;
}

.grouplist li:hover .proDiscount span, .grouplist li:hover .proDiscount del
	{
	color: #fff;
}

.grouplist li .qiangouBtn {
	margin-top: 9px;
	background: #000;
	padding: 3px 10px;
	display: none;
}

.grouplist li:hover .qiangouBtn {
	margin-top: 9px;
	background: #000;
	padding: 3px 10px;
	display: block;
}

.grouplist li:hover .haveBuy {
	display: none;
}

.page {
	float: right;
	margin-top: 30px;
}

.page span, .page span.current, .page span:hover, .pagePrev, .pageNext,
	.prevDisble, .nextDisable {
	border: 1px solid #dfdfdf;
	float: left;
	font: normal 14px/20px arial;
	height: 20px;
	margin-left: 2px;
	overflow: hidden;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}

.page span.current {
	background: #c00;
	color: #fff;
	border-color: #c00;
	cursor: default;
}

.page span:hover, .pagePrev:hover, .pageNext:hover {
	border-color: #c00;
}

.prevDisble, .nextDisable {
	cursor: default;
	color: #ccc;
}

.pageSplit {
	line-height: 20px;
	padding: 3px 10px;
	display: inline-block;
	float: left;
	color: #999;
}

.page .pageCount {
	border-color: #fafafa;
	line-height: 28px;
	font-weight: normal;
	margin-left: 10px;
}

.jumpto {
	line-height: 20px;
	width: 30px;
	height: 20px;
	padding: 0 3px;
	text-align: center;
	border: 1px solid #dfdfdf;
	margin: 0 3px;
}

.jumptoBtn {
	display: inline-block;
	font: normal 12px/22px '微软雅黑';
	padding: 0 10px;
	text-align: center;
	background: #e8e8e8;
	color: #666;
	height: 20px;
	line-height: 20px;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #ddd;
}

.jumptoBtn:hover {
	color: #fff;
	background-color: #c00;
}

.grDetail {
	border: 1px solid #ddd;
}

.grDetailT {
	font: 400 22px/36px '微软雅黑';
}

.grDetailMsg {
	border: 1px solid #ddd;
	width: 288px;
	height: 378px;
}

.grDetailMsg ul {
	width: 291px;
}

.grDetailMsg li {
	float: left;
	width: 97px;
	padding: 12px 0;
}

.grDetailMsg li p {
	text-align: center;
	line-height: 24px;
}

.buyP {
	font: 700 24px Arial, Helvetica, sans-serif;
	color: #999;
}

.surplus {
	width: 160px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.surplus b {
	background: url(images/bg.png) -43px -123px;
	height: 26px;
	width: 26px;
	position: absolute;
	left: 0;
	top: 0;
}

.surplus span {
	line-height: 26px;
	height: 26px;
	font-size: 14px;
	padding-left: 30px;
}

.p-countdown strong {
	line-height: 30px;
	display: inline-block;
	float: left;
	padding: 0 5px;
	color: #999;
	font-size: 14px;
}

.p-countdown {
	width: 288px;
	padding: 0 16px;
}

.p-countdown span {
	font: 400 22px/30px '微软雅黑';
	background: #000;
	color: #fff;
	width: 40px;
	display: inline-block;
	text-align: center;
	float: left;
}

.pricetag, .priceyushou {
	background: url(images/bg.png) 0 -155px no-repeat;
	width: 300px;
	height: 64px;
	margin-left: -6px;
	font-size: 18px;
	color: #fff;
	padding-left: 10px;
	cursor: pointer;
	display: block;
}

.priceyushou {
	background-position: 0 -580px;
}

.pricetagDisbale {
	background: url(images/bg.png) 0 -388px no-repeat;
}

.pricetag strong {
	font: 400 30px/64px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
}

.gdimgMsg {
	width: 620px;
	height: 380px;
	overflow: hidden;
}

.jieshaoTitle {
	background: #f2f2f2;
}

.jieshaoTitle em {
	background: #c00;
	width: 10px;
	display: inline-block;
	float: left;
	height: 30px;
}

.jieshaoTitle span {
	background: #f2f2f2;
	font: 700 14px/30px '微软雅黑';
	display: block;
	float: left;
	padding-left: 10px;
	color: #666;
}

.cart-thead {
	background-color: #fff;
}

.cart-thead li {
	float: left;
	overflow: hidden;
}

.cartCheckbox input {
	margin-top: 14px;
	margin-right: 5px;
	float: left;
}

.cartCheckbox label {
	line-height: 40px;
	float: left;
	left: 30px;
}

.cart-thead ul li {
	line-height: 40px;
}

.pImg {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	margin-right: 10px;
	display: block;
	float: left;
}

.pImg img {
	width: 60px;
	height: 60px;
}

.pNames {
	display: block;
	overflow: hidden;
	width: 260px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 22px;
	padding: 8px 0;
	text-align: left;
}

.pNames:hover {
	color: #c00;
}

.cart-thead ul {
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	margin-bottom: 10px;
}

.cart-thead ol {
	background: #fff;
	padding: 10px 0;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.cartjs {
	margin-top: 10px;
}

.shopcartchangefont {
	margin-top: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

.shopcartchangefontweight {
	font-weight: 800;
}

.cart-thead ol.selected {
	background: #fffdee;
}

.reduce, .increase {
	border: 1px solid #c9c9c9;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-family: icon;
	cursor: pointer;
	display: inline-block;
	background: #ededed;
	font-size: 16px;
	float: left;
	border-right: 0;
}

.increase {
	border-right: 1px solid #c9c9c9;
	border-left: 0;
}

.reduceDisable {
	color: #ccc;
	cursor: not-allowed;
	border-color: #c9c9c9;
}

.numberIn {
	width: 36px;
	line-height: 22px;
	border: 1px solid #c9c9c9;
	text-align: center;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	height: 22px;
}

.cartQuantityMt {
	margin-top: 7px;
	text-align: center;
	margin-left: 8px;
}

.cartCheckbox {
	width: 30px;
	text-align: left;
	padding-left: 20px;
}

.cart-thead ul li.cartCheckbox {
	overflow: visible;
}

.cartGoods {
	width: 340px;
	text-align: center;
}

.cart-thead ul .cartGoods {
	width: 390px;
	*width: 340px;
}

.cartrPrice {
	width: 110px;
	text-align: center;
}

.cartAddress {
	width: 80px;
	text-align: center;
}

.cart-thead ul li.cartAddress {
	overflow: visible;
}

.cartPromotion {
	width: 80px;
	text-align: center;
}

.cartQuantity {
	width: 100px;
	text-align: center;
}

.cartSubtotal {
	width: 118px;
	text-align: center;
}

.cartOperation {
	width: 100px;
	text-align: center;
}

.cartOperation a:hover {
	color: #c00;
	text-decoration: underline;
}

.cartjs ul {
	background: #e5e5e5;
}

.cartjsCheckbox input {
	float: left;
	margin-right: 5px;
	margin-top: 18px;
}

.cartjsCheckbox label {
	float: left;
	margin-right: 5px;
	line-height: 50px;
	height: 50px;
}

.cartjs li {
	line-height: 50px;
	float: left;
}

.cartjs li a:hover {
	text-decoration: underline;
}

.SelectedItemsCount {
	font-size: 18px;
	font-weight: 700;
	color: #c00;
	line-height: 50px;
	float: left;
	padding: 0 5px;
}

.txt {
	line-height: 50px;
	font-style: normal;
	float: left;
}

.price-sum strong {
	color: #c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 48px;
	vertical-align: middle;
}

.price-sum strong b span {
	font-size: 22px;
	font-weight: 700;
	padding: 0 3px;
}

.buyNowBtn, .addCartBtn, .continueBtn, .jiesuanBtn, .addCartBtn {
	padding: 0 30px;
	background: #ffe4d0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font: left;
	text-align: center;
	font: 700 18px/40px '微软雅黑';
	color: #c00;
	margin-top: 25px;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	cursor: pointer;
}

.addCartBtn, .jiesuanBtn {
	background: #c00;
	color: #fff;
	float: right;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 10px;
}

.buyNowBtn:hover, .addCartBtn:hover, .continueBtn:hover, .jiesuanBtn:hover,
	.addCartBtn:hover, .CouponBtn:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.cartTuijian {
	border: 1px solid #ddd;
}

.Img185 {
	width: 185px;
	height: 185px;
	display: block;
}

.Img185 img {
	vertical-align: middle;
	width: 185px;
	height: 185px;
}

.cartTuijianTitle {
	background: #f5f5f5;
	font: 400 14px/40px '微软雅黑';
	padding-left: 10px;
	border-bottom: 1px solid #ddd;
}

.ProTitle185 {
	cursor: pointer;
	display: block;
	height: 32px;
	line-height: 16px;
	margin-top: 10px;
	overflow: hidden;
	width: 185px;
	word-break: break-all;
	word-wrap: break-word;
}

.ProTitle185:hover {
	color: #c00;
}

.prev, .next {
	background: url("images/bg.png") no-repeat scroll 0 -58px;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 22px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 141px;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	width: 12px;
}

.next {
	background-position: -14px -58px;
	margin-right: 20px;
	float: right;
	margin-left: 20px;
}

.prev:hover, .next:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.Price185 {
	font: 700 18px/30px Verdana, Geneva, sans-serif;
	color: #c00;
	text-align: left;
}

.goshoppingBtn {
	background: none repeat scroll 0 0 #ffe4d0;
	color: #c00;
	cursor: pointer;
	display: block;
	float: left;
	font: 700 18px/40px '微软雅黑';
	margin-top: 25px;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	padding: 0 30px;
	text-align: center;
}

.qujiesuanBtn {
	font: 700 18px/40px '微软雅黑';
	margin-top: 25px;
	padding: 0 30px;
	text-align: center;
	background: none repeat scroll 0 0 #c00;
	color: #fff;
	float: right;
	margin-left: 10px;
	cursor: pointer;
}

.disableBtn {
	background: #ddd;
}

.goshoppingBtn:hover {
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
}

.qujiesuanBtn:hover {
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
}

.addCartBtn {
	background: #f5f5f5;
	color: #333;
	font: normal 14px/30px '微软雅黑';
	border: 1px solid #ddd;
	margin-top: 5px;
	margin-left: 0;
}

.cartTuijianBox {
	width: 860px;
	overflow: hidden;
	margin-left: 8px;
}

.cartTuijianBox ul {
	width: 900px;
}

.cartTuijianBox li {
	float: left;
	margin-right: 40px;
}

.checkout h2 {
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	margin-top: 10px;
	padding-left: 10px;
}

.address, .cartPeisong, .fapiao {
	border: 1px solid #ddd;
	padding: 10px;
	background: #fff;
}

.address h3 {
	line-height: 24px;
}

.bitian {
	color: #c00;
	padding-right: 5px;
}

.labItem {
	line-height: 24px;
	float: left;
	display: block;
}

.checkoutText {
	line-height: 22px;
	height: 22px;
	border: 1px solid #ddd;
	padding: 0 5px;
	display: block;
	float: left;
	margin-right: 5px;
}

.checkoutText2 {
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	margin-right: 5px;
	padding: 0 5px;
}

.cueWords {
	line-height: 24px;
	float: left;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
}

.address li {
	overflow: hidden;
	margin-top: 10px;
	line-height: 24px;
}

strong.labItem {
	font-weight: normal;
}

.addressSel {
	display: block;
	float: left;
}

.addressSel select, .peisongSel select {
	height: 24px;
	margin-right: 5px;
}

.peisongSel select {
	width: 212px;
}

.cartPeisong li {
	margin-top: 5px;
}

.cartRadio, .cartCheck {
	float: left;
	line-height: 24px;
	margin-right: 5px;
	margin-top: 5px;
}

.cartLabel {
	float: left;
	line-height: 24px;
	margin-right: 10px;
}

.fapiao ul li {
	float: left;
	margin-right: 10px;
}

.invoiceTax ol li {
	overflow: hidden;
	margin-top: 10px;
}

.stepContent .cart-thead ol {
	padding: 10px 20px;
}

.stepContent .cart-thead ul {
	padding: 0 20px;
	border: 1px solid #ddd;
	background: #f5f5f5;
}

.orderCoupon {
	border: 1px solid #ddd;
	background-color: #f5f5f5;
}

.CouponBtn {
	background: #c00;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: 400 14px/24px '微软雅黑';
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	padding: 0 10px;
	text-align: center;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	cursor: pointer;
}

.orderCoupon ul {
	border-right: 1px solid #eee9e4;
	width: 60%;
	background-color: #fff;
	padding: 55px 20px;
}

.orderCoupon li {
	margin-top: 10px;
	overflow: hidden;
}

.orderCoupon ol {
	padding: 20px 0;
}

.checkoutTxtArea {
	resize: none;
	height: 50px;
	border: 1px solid #ddd;
	overflow: auto;
	line-height: 18px;
	padding: 5px;
}

.riqi {
	border: 1px solid #ddd;
}

.addressXZMsg b {
	padding: 0 3px;
}

.addressBCBtn, .newAddressBtn, .addressQXBtn {
	background: #c00;
	display: block;
	color: #fff;
	float: right;
	font: 700 14px/30px '宋体';
	padding: 0 30px;
	text-align: center;
	float: left;
	height: 30px;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
}

.addressQXBtn {
	background: #ffe4d0;
	color: #c00;
}

.addressBCBtn:hover, .newAddressBtn:hover, .addressQXBtn:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.addressXZ {
	vertical-align: middle;
	margin-right: 5px;
}

.addressEdtBtn a {
	color: #005ea7;
	padding-right: 5px;
}

.orderSucc {
	position: relative;
	padding-left: 80px;
	padding-top: 30px;
}

.paySucc, .payFail {
	position: relative;
	padding-left: 200px;
	padding-top: 80px;
	border-top: 2px solid #c00;
	background: #f3fded;
	padding-bottom: 80px;
}

.payFail {
	padding-left: 400px;
	background: none;
}

.orderSucc b, .paySucc b, .payFail b {
	background: url(images/bg.png) 0 -226px no-repeat;
	width: 50px;
	height: 38px;
	display: block;
	position: absolute;
	left: 30px;
	top: 32px;
}

.paySucc b {
	top: 82px;
	left: 150px;
}

.payFail b {
	background-position: -293px -273px;
	top: 77px;
	left: 359px;
}

.payBackBtn {
	background: #f5f5f5;
	color: #333;
	border: 1px solid #999;
	padding: 5px 20px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	margin-top: 70px;
	cursor: pointer;
	margin-left: 20px;
}

.orderSucc h1, .paySucc h1 {
	font: 16px;
	font-weight: bold;
	line-height: 24px;
}

.SuccT {
	vertical-align: middle;
	line-height: 24px;
}

.orderSucc p {
	line-height: 22px;
	vertical-align: middle;
}

.payTabTitle {
	border-top: 1px solid #ddd;
	overflow: hidden;
	width: 979px;
	border-right: 1px solid #ddd;
	background: #f2f1f4;
}

.payTabTitle li {
	width: 325px;
	float: left;
	text-align: center;
	display: block;
	font: bold 14px/40px "宋体";
	border-left: none;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.payTabTitle li.hitmebaby {
	background: #fff;
	height: 40px;
	color: #c00;
	border-bottom: 1px solid #fff;
}

.payTabCon {
	display: none;
}

.payTabCons {
	border: 1px solid #ddd;
	padding: 20px;
	background: #fff;
	border-top: 0;
}

.listBank {
	overflow: hidden;
	margin-top: 20px;
}

.listBank li {
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 6px;
	width: 202px;
}

.listBank .select {
	border: 2px solid #c00;
	padding: 5px;
}

.bankRadio {
	margin-left: 6px;
	margin-right: 11px;
	padding: 0;
	top: 8px;
	float: left;
	position: relative;
	cursor: pointer;
}

.bankLogo {
	background: url(images/banklogo.png) no-repeat 0 0;
	display: block;
	height: 28px;
	overflow: hidden;
	width: 125px;
	float: left;
	margin-left: 5px;
	text-indent: -9999px;
	cursor: pointer;
}

#bankABC {
	background-position: 0 -532px;
}

#bankICBC {
	background-position: 0 -140px;
}

#bankBOC {
	background-position: 0 -840px;
}

#bankCCB {
	background-position: 0 -336px;
}

#bankGDB {
	background-position: 0 -196px;
}

#bankPOST {
	background-position: 0 -868px;
}

#bankBOB {
	background-position: 0 -28px;
}

#bankSHB {
	background-position: 0 -672px;
}

#bankBCOM {
	background-position: 0 -392px;
}

#bankCMB {
	background-position: 0 -784px;
}

#bankCMBC {
	background-position: 0 -448px;
}

#bankCEB {
	background-position: 0 -168px;
}

#bankPAB {
	background-position: 0 -560px;
}

#bankSPDB {
	background-position: 0 -588px;
}

#bankCITIC {
	background-position: 0 -896px;
}

#bankCIB {
	background-position: 0 -756px;
}

#bankHXB {
	background-position: 0 -308px;
}

#YINLIAN {
	background-position: 0 -1064px;
}

#KUAIQIAN {
	background-position: 0 -1036px;
}

.payMore {
	width: 212px;
}

.linkMore {
	border: 1px dotted #ddd;
	color: #005ea7;
	display: inline-block;
	padding: 1px;
	text-align: center;
	height: 39px;
	line-height: 39px;
	width: 100%;
	cursor: pointer;
}

.PayDown, .PayUp {
	background: url(images/bg.png) 0 -270px no-repeat;
	display: inline-block;
	font-size: 0;
	height: 6px;
	line-height: 0;
	margin-left: 10px;
	overflow: hidden;
	width: 12px;
}

.PayUp {
	background-position: -17px -270px;
}

.panNextBtn {
	background: #c00;
	color: #fff;
	display: inline-block;
	font: 700 18px/30px '微软雅黑';
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	padding: 5px 40px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}

.panNextBtn:hover {
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.topBanner {
	width: 100%;
	margin: 0 auto;
	height: 368px;
}

.tuijian {
	margin-top: 25px;
}

.tuijian li {
	float: left;
	position: relative;
	height: 238px;
	width: 196px;
}

.tuijian li a {
	left: 0;
	top: 0;
	position: absolute;
	height: 238px;
	width: 196px;
}

.tuijian img {
	display: block;
	width: 196px;
	height: 238px;
}

.xianshi em {
	color: #333;
	display: inline-block;
	float: left;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	padding: 0 5px;
}

.xianshi li {
	float: left;
}

.xianshi .p-countdown strong {
	color: #666;
}

.xianshiTitle b {
	background: url(images/bg.png) -80px -122px no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 5px;
}

.xianshiTitle s {
	font: 700 20px/30px '宋体';
	padding-left: 25px;
	text-decoration: none;
}

.xianshi ol {
	background: #f5f5f5;
	height: 30px;
	padding: 5px;
}

.xianshiConImg {
	display: block;
}

.xianshiCon {
	background: #fff;
	overflow: hidden;
}

.xianshiCon li {
	padding: 10px 0;
	width: 245px;
	overflow: hidden;;
}

.xianshiConImg img {
	width: 125px;
	height: 125px;
}

.yuanjia {
	display: block;
	color: #999;
	font-family: Verdana, Arial;
}

.xianshiCon .title {
	width: 100px;
	line-height: 20px;
	height: 40px;
	margin-top: 0;
}

.xianshiCon .price {
	font-weight: 400;
}

.rexiao .title {
	width: 220px;
	line-height: 22px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif, '微软雅黑';
	color: #333;
}

.rexiaoImg img {
	width: 220px;
	height: 220px;
}

.rexiao .title:hover {
	color: #c00;
}

.rexiao ul {
	border-left: 1px solid #ddd;
	background: #fff;
	width: 980px;
}

.rexiao li {
	padding: 12px;
	padding-right: 12px;
	border: 1px solid #ddd;
	border-left: 0;
	float: left;
}

.rexiaoBg {
	background: url(images/bg.png) -80px -227px no-repeat;
	top: 0;
	left: 427px;
	display: block;
	position: absolute;
	padding-left: 36px;
	width: 127px;
	height: 33px;
	padding-top: 2px;
	color: #fff;
	font: 400 14px '微软雅黑';
}

.floorTitle {
	background: url(./floorBg.png) 0 0 no-repeat;
	width: 180px;
	height: 38px;
	display: block;
}

.floorTitle span {
	font: 700 14px/38px '微软雅黑';
	color: #fff;
	padding-left: 90px;
}

.more {
	display: block;
	background: #b664ff;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0 10px;
	color: #fff;
	margin-top: 16px;
	margin-bottom: 2px;
	filter: alpha(opacity = 100);
	-moz-opacity: 1;
	opacity: 1;
}

.more:hover {
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
}

.floor2 .floorTitle {
	background-position: 0 -38px;
}

.floor3 .floorTitle {
	background-position: 0 -76px;
}

.floor4 .floorTitle {
	background-position: 0 -114px;
}

.floor5 .floorTitle {
	background-position: 0 -152px;
}

.floor6 .floorTitle {
	background-position: 0 -190px;
}

.floor2 .more {
	background: #ff8344;
}

.floor3 .more {
	background: #ff6498;
}

.floor4 .more {
	background: #4fcac3;
}

.floor5 .more {
	background: #1a92ff;
}

.floor6 .more {
	background: #98b915;
}

.floor2 .floorCon {
	border-color: #ff8344;
}

.floor3 .floorCon {
	border-color: #ff6498;
}

.floor4 .floorCon {
	border-color: #4fcac3;
}

.floor5 .floorCon {
	border-color: #1a92ff;
}

.floor6 .floorCon {
	border-color: #98b915;
}

.floorCon {
	border-bottom: 5px solid #b664ff;
	position: relative;
	margin-top: 10px;
}

.floorConLeft {
	display: block;
	float: left;
}

.floorConLeft img {
	width: 180px;
	height: 305px;
}

.floorConRight li {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	position: relative;
	float: left;
	overflow: hidden;
	padding: 12px 0 11px 0;
	width: 199px;
	background: #fff;
}

.floorConRight .title {
	margin-top: 0;
	font: normal 14px/18px '宋体';
	height: 36px;
	width: 180px;
}

.floorConRightImg {
	display: block;
	min-height: 200px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 209px;
	z-index: 1;
	left: -10px;
	height: 210px;
}

.floorConRightImg img {
	width: 220px;
	height: 220px;
}

.floorConBg {
	background: url(images/floorBg.png) 0 -233px no-repeat;
	width: 5px;
	height: 10px;
	display: block;
	right: -5px;
	bottom: -10px;
	position: absolute;
}

.floor2 .floorConBg {
	background-position: -8px -233px;
}

.floor3 .floorConBg {
	background-position: -16px -233px;
}

.floor4 .floorConBg {
	background-position: -24px -233px;
}

.floor5 .floorConBg {
	background-position: -32px -233px;
}

.floor6 .floorConBg {
	background-position: -40px -233px;
}

.fullSlide {
	width: 100%;
	position: relative;
	height: 410px;
	background: #000;
}

.fullSlide .bd {
	margin: 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.fullSlide .bd ul {
	width: 100% !important;
}

.fullSlide .bd li {
	width: 100% !important;
	height: 410px;
	overflow: hidden;
	text-align: center;
}

.fullSlide .bd li a {
	display: block;
	height: 410px;
}

.fullSlide .hd {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
}

.fullSlide .hd ul {
	text-align: center;
}

.fullSlide .hd ul li {
	cursor: pointer;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 42px;
	height: 11px;
	margin: 1px;
	overflow: hidden;
	background: #000;
	filter: alpha(opacity = 50);
	opacity: .5;
	line-height: 999px;
}

.fullSlide .hd ul .on {
	background: #f00;
}

.fullSlide .prev, .fullSlide .next {
	display: block;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: -30px;
	left: 15%;
	z-index: 1;
	width: 40px;
	height: 60px;
	background: url(images/slider-arrow.png) -126px -137px #000 no-repeat;
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: .5;
	display: none;
}

.fullSlide .next {
	left: auto;
	right: 15%;
	background-position: -6px -137px;
}

.helpLeftBox {
	width: 160px;
	float: left;
}

.helpLeft {
	border: 1px solid #ddd;
}

.helpLeft h1 {
	font-weight: bold;
	background: #ede7e1;
	line-height: 26px;
	padding: 0 5px;
	height: 26px;
}

.helpLeft ul {
	background: #fff;
	padding: 5px 10px;
}

.helpLeft ul li {
	line-height: 24px;
}

.helpLeft ul li.helpHit a {
	color: #c00;
	text-decoration: none;
}

.helpLeft li a:hover {
	color: #c00;
	text-decoration: underline;
}

.helpRightBox {
	width: 800px;
	margin-left: 20px;
	float: left;
	line-height: 24px;
}

.helpRightBox h1 {
	font-size: 14px;
	line-height: 25px;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	font-weight: 700;
}

.helpRightBox h2 {
	font-weight: bold;
	color: #666;
	line-height: 24px;
}

.helpRightBox img {
	margin: 10px;
}

.compare table {
	border-left: 1px solid #ddd;
	width: 979px;
}

.compareImg {
	display: block;
}

.compareImg img {
	width: 100px;
	height: 100px;
}

.compare .title {
	width: auto;
	text-align: center;
}

.addComBtn {
	display: block;
	color: #005ea7;
	text-align: center;
	cursor: pointer;
	line-height: 24px;
	height: 24px;
}

.compare th, .compare td {
	padding: 10px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #ddd;
	border-left: 0;
}

.compare th {
	color: #333;
	font-weight: bold;
}

.camPrice td {
	color: #c00;
	font-family: verdana;
	font-size: 14px;
	font-weight: 700;
}

.myfontfamilytt {
	font-family: verdana;
}

.mainBox {
	width: 618px;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	background: #fff;
}

.main ul li {
	list-style: none;
}

.main .post, .main .left {
	margin-top: 10px;
}

#sidebar {
	float: right;
	width: 300px;
}

#sidebar li ul.children li, #sidebar li ul.children li ul li {
	padding-left: 18px;
	background: url(images/tier.gif) 6px 5px no-repeat;
}

.indexPicBox {
	width: 780px;
	height: 310px;
}

.hotPic {
	width: 780px;
	height: 310px;
	position: relative;
	overflow: hidden;
}

.hotPic .num {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 638px;
	padding-right: 8px;
	height: 30px;
	text-align: right;
}

.hotPic .num span {
	background: url(images/bg.png) no-repeat scroll 0 -105px;
	cursor: pointer;
	display: inline-block;
	height: 14px;
	margin-left: 8px;
	text-indent: 1000px;
	*text-indent: 100px;
	width: 14px;
}

.hotPic .num span.cur {
	background: url(images/bg.png) no-repeat scroll -15px -105px;
	cursor: pointer;
	display: inline-block;
	text-indent: 1000px;
	*text-indent: 100px;
	height: 14px;
	margin-left: 8px;
	width: 14px;
}

.hotPic .pic {
	position: relative;
	z-index: 5;
}

.hotPic .pic li {
	position: absolute;
	display: none;
}

.hotPic .pic li img {
	width: 780px;
	height: 310px;
	display: block;
}

.hotPic .text {
	position: absolute;
	bottom: 0;
	left: 10px;
	z-index: 12;
	width: 520px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-family: Microsoft YaHei;
}

.hotPic .text p {
	position: absolute;
	display: none;
	color: #fff;
	font-weight: 800;
	font-size: 15px;
}

.TabCon {
	height: 507px;
	position: relative;
}

.TabCon ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	overflow: hidden;
}

.m20viga {
	margin-left: 13px;
}

.Delivery-tracking {
	margin-top: 3px;
}

.Delivery-tracking td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	font-family: Verdana, Geneva, sans-serif;
}

.orderxiangqing {
	width: 752px;
}

.orderxiangqing td span {
	font-family: SimSun, monospace, Times, Georgia;
	font-size: 16px;
	font-weight: 700;
}

.orderxiangqing td {
	width: 25%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
}

.orderxiangqingNO1td {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 26px;
}

.dingdanstyelNO1 {
	font-weight: 700;
	background-color: #fff;
	font-size: 14px;
}

.dingdanstyelNO2 {
	font-weight: 700;
	color: #fff;
	background-color: #c00;
	font-size: 14px;
}

.dingdanstyelNO3 {
	background-color: #f5f5f5;
	font-size: 14px;
}

.backtogoodstex {
	height: 40px;
	width: 470px;
	padding: 5px;
	border: 1px solid #ddd;
}

.uploadtpic {
	display: block;
	float: left;
}

.uploadtpic img {
	max-height: :50px;
	max-width: 50px;
	float: left;
	margin-right: 5px;
}

.Submit0application {
	background: none repeat scroll 0 0 #c00;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: 400 14px/24px '微软雅黑';
	padding: 5px 10px;
	text-align: center;
	margin-left: 85px;
}

.Submit0application2 {
	background: none repeat scroll 0 0 #ffe4d0;
	color: #c00;
	cursor: pointer;
	display: inline-block;
	font: 400 14px/24px '微软雅黑';
	padding: 5px 10px;
	text-align: center;
	margin-left: 85px;
}

.Submit0application:hover {
	opacity: .8;
}

.shangchuantu1 {
	background: none repeat scroll 0 0 #c00;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font: 400 14px/24px '微软雅黑';
	margin-right: 5px;
	padding: 0 10px;
	text-align: center;
}

.shangchuantu1：hover {
	opacity: .8;
}

.cartStep1, .cartStep2, .cartStep3, .cartysStep1, .cartysStep2 {
	background: url(/cartbg.png) no-repeat 0 0;
	width: 571px;
	height: 23px;
	float: right;
	text-indent: -9999px;
	margin-top: 20px;
}

.cartStep2 {
	background-position: 0 -23px;
}

.cartStep3 {
	background-position: 0 -46px;
}

.cartysStep1 {
	background-position: 0 -69px;
	width: 376px;
}

.cartysStep2 {
	background-position: 0 -92px;
	width: 376px;
}

.cartEmpty {
	background: url(images/cartempty.png) 240px 58px no-repeat;
	padding: 88px 0 100px 356px;
}

.peisong {
	background-color: #fff;
	border: 1px solid #c9c9c9;
	cursor: pointer;
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0 10px 0 5px;
	position: relative;
	margin-top: 8px;
	width: 50px;
	margin-left: 8px;
}

.peisongbg {
	background: url(images/bg.png) no-repeat scroll 0 -17px;
	cursor: pointer;
	display: inline-block;
	height: 6px;
	width: 9px;
	position: absolute;
	top: 9px;
	right: 5px;
}

.addresslist {
	background: #fff;
	border: 1px solid #ddd;
	left: -20px;
	padding: 10px;
	position: absolute;
	top: 32px;
	width: 266px;
}

.addresslist span {
	display: block;
	float: left;
}

.addresslist select {
	height: 180px;
	margin: 0 5px;
	overflow-y: auto;
	width: 123px;
}

.uploadtpicList li {
	float: left;
	position: relative;
	margin-right: 5px;
}

.uploadtpicListImg img {
	display: block;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.DeleteUploadPic {
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #3b3b3b;
	filter: alpha(opacity = 80);
	-moz-opacity: .8;
	opacity: .8;
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.uploadmypicture {
	background: none repeat scroll 0 0 #c00;
	color: #fff;
	cursor: pointer;
	font: 400 14px/24px '微软雅黑';
	padding: 0 10px;
	text-align: center;
	margin-right: 5px;
	display: block;
	float: left;
}

.uploadmypicture:hover {
	opacity: .8;
}

.popspanmu {
	*margin-right: 10px; block;
	height: 28px;
	line-height: 28px;
}

.popspanmu em {
	font-family: Verdana, Geneva, sans-serif;
	color: #c00;
}

.SoldOut {
	background: url(images/deal_stat.png) -115px 0 no-repeat scroll;
	width: 103px;
	height: 90px;
	top: 190px;
	right: 20px;
}

.RefundAging {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
}

.RefundAging th, .RefundAging td {
	padding: 0 5px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.RefundAging th {
	font-weight: bold;
}

#addressSel {
	z-index: 10;
}

#addressSel.hover .peisong {
	z-index: 1;
	border-bottom: 0;
}

.upload-pic {
	background: #eee;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font: 400 12px/20px "微软雅黑";
	overflow: hidden;
	width: 58px;
	height: 20px;
	text-align: center;
	position: relative;
	cursor: pointer;
	border: 1px solid #ddd;
}

.upload-pic input {
	position: absolute;
	top: 0;
	left: 0;
	left: -132px\9;
	height: 28px;
	filter: alpha(opacity = 00);
	-moz-opacity: .0;
	opacity: .0;
}

.lfxxchange10-30 {
	width: 710px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	padding: 0 20px;
	background-color: #f5f5f5;
	margin-bottom: 20px;
}

.yushouBtn {
	padding: 0 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font: left;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	background: #f5f5f5;
	color: #444;
	border: 1px solid #ddd;
}

.yushouFaile b {
	background: url(images/searchnoresult.png) no-repeat scroll 0 0;
	top: 27px;
}