@charset "utf-8";
.preview{
	float:left;
}

.smallList{
	overflow:hidden;
	margin-top:10px;
}

.SmallPrev,.SmallNext{
	background:url(bg.png) 0 -58px no-repeat;
	display:inline-block;
	*display:inline;
	*zoom:1;
	cursor:pointer;
	float:left;
	width:12px;
	height:22px;
	margin-top:20px;
	margin-right:12px;
	margin-left:3px;
	opacity:.5;
}

.SmallNext{
	background-position:-14px -58px;
	margin-right:0;
}

.SmallPrev:hover,.SmallNext:hover{
	opacity:1;
}

#spec-list{
	height:64px;
	overflow:hidden;
	position:relative;
	width:360px;
	float:left;
}

#spec-list li{
	float:left;
	margin-right:8px;
	height:64px;
}

#spec-list li a{
	display:block;
	width:64px;
	height:64px;
}

#spec-list li a.zoomThumbActive img{
	border:2px solid #c00;
}

#spec-list li img{
	cursor:pointer;
	width:60px;
	height:60px;
	border:2px solid #CCC;
	display:inline-block;
}

.pImginfo{
	border:1px solid #EEE;
	height:400px;
	position:relative;
	width:400px;
	*z-index:11;
}

#bigView{
	background:#FFF;
	border:1px solid #CCC;
	overflow:hidden;
	position:absolute;
	z-index:100000;
}

.smallImg{
	position:relative;
	height:60px;
	padding:26px 5px;
	width:308px;
	overflow:hidden;
	float:left;
}

.scrollbutton{
	width:17px;
	height:55px;
	overflow:hidden;
	position:absolute;
	left:17px;
	cursor:pointer;
	background:url(images/douban.png) no-repeat;
	float:left;
}

#imageMenu{
	width:308px;
	overflow:hidden;
	margin-top:4px;
	float:left;
}

#imageMenu li{
	height:58px;
	width:62px;
	overflow:hidden;
	float:left;
}

#imageMenu li img{
	padding:1px;
	border:1px solid #E8E8E8;
	width:50px;
	height:50px;
	cursor:pointer;
}

#imageMenu li#onlickImg img{
	border:1px solid #900;
}

.bigImg{
	position:relative;
	width:400px;
	height:400px;
	padding:5px;
	border:1px solid #E4E4E4;
	overflow:hidden;
}

.bigImg #midimg{
	width:400px;
	height:400px;
}

.bigImg #winSelector{
	width:235px;
	height:210px;
}

#winSelector{
	position:absolute;
	cursor:crosshair;
	filter:alpha(opacity=15);
	-moz-opacity:.15;
	opacity:.15;
	background-color:#000;
	border:1px solid #fff;
}

#bigView{
	position:absolute;
	border:1px solid black;
	overflow:hidden;
	width:260px;
	height:295.652px;
	top:300px;
	left:540px;
	z-index:999;
}

#bigView img{
	position:absolute;
}

.qqwbShare,.rrShare,.qqkjShare,.dbShare,.shoucang b{
	background:url(images/sprite-share.png) 0 0 no-repeat;
	display:block;
	width:16px;
	height:16px;
	text-indent:-99999px;
	float:left;
	margin-top:5px;
	margin-right:5px;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
	cursor:pointer;
}

.rrShare{
	background-position:-16px 0;
}

.qqkjShare{
	background-position:-32px 0;
}

.dbShare{
	background-position:-48px 0;
}

.qqwbShare:hover,.rrShare:hover,.qqkjShare:hover,.dbShare:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.productInf dl{
	overflow:hidden;
}

.productInf dt,.productInf dd{
	float:left;
	height:28px;
	line-height:28px;
}

.productInf dt{
	text-align:left;
	width:70px;
	float:left;
}

.scjia strong{
	font:700 24px/24px Verdana,Arial;
	color:#c00;
}

.shoujia{
	text-decoration:line-through;
	color:#999;
}

.share li{
	line-height:28px;
}

.shoucang{
	position:relative;
	margin-left:70px;
	display:block;
	float:left;
}

.shoucang span{
	margin-left:25px;
	cursor:pointer;
}

.shoucang b{
	background-position:-98px -3px;
	width:12px;
	height:11px;
	position:absolute;
	left:5px;
	top:10px;
	margin-top:0;
	margin-left:0;
}

.productInf{
	float:right;
	width:540px;
}

.productInf h1{
	max-height:3em;
	text-overflow:ellipsis;
	font:700 16px/1.5em Arial,"microsoft yahei";
	width:540px;
	word-break:break-all;
}

.productInf h2{
	color:#c00;
	font:700 16px/1.5em Arial,"microsoft yahei";
}

.productInf .pingjia,.pingjia em{
	background:url(./bg.png) -60px 0 no-repeat;
	width:60px;
	height:11px;
	display:inline-block;
	margin-right:5px;
	margin-top:8px;
	line-height:11px;
}

.pingjia em{
	background-position:0 0;
	margin-top:0;
}

.reduce,.increase{
	border:1px solid #c9c9c9;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	font-family:icon;
	cursor:pointer;
	display:inline-block;
	background:#ededed;
	font-size:16px;
	float:left;
	border-right:0;
}

.increase{
	border-right:1px solid #c9c9c9;
	border-left:0;
}

.reduceDisable{
	color:#ccc;
	cursor:not-allowed;
	border-color:#c9c9c9;
}

.numberIn{
	width:36px;
	line-height:22px;
	border:1px solid #c9c9c9;
	text-align:center;
	float:left;
	padding:0;
	height:22px;
}

.peisong{
	border:1px solid #c9c9c9;
	padding:0 23px 0 5px;
	position:relative;
	line-height:26px;
	background-color:#fff;
	cursor:pointer;
	height:26px;
	float:left;
}

.peisongbg,.dapeiList li s,.dapeiTotal s,.shareImg .current s{
	background:url(images/bg.png) 0 -17px;
	width:9px;
	height:6px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-left:5px;
	cursor:pointer;
}

.peisongbg{
	position:absolute;
	top:11px;
}

.inventory{
	text-decoration:none;
	padding-left:5px;
	display:block;
	float:left;
}

.addresslist{
	border:1px solid #ddd;
	position:absolute;
	top:24px;
	padding:10px;
	background:#fff;
	width:340px;
	left:-20px;
	*z-index:10;
}

.addresslist span{
	display:block;
	float:left;
}

.addresslist select{
	margin:0 5px;
	width:160px;
	height:180px;
	overflow-y:auto;
}

.buyNowBtn,.addCartBtn{
	padding:0 30px;
	background:#ffe4d0;
	display:inline-block;
	font:left;
	text-align:center;
	font:700 18px/40px '微软雅黑';
	color:#c00;
	margin-top:25px;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
}

.addCartBtn{
	background:#c00;
	color:#fff;
	margin-left:10px;
}

.buyNowBtn:hover,.addCartBtn:hover,.popBuyNowBtn,.pobAddCartBtn{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.left{
	width:180px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	margin-top:20px;
}

.leftList{
	width:178px;
	overflow:hidden;
	border:1px solid #ddd;
	border-bottom:none;
	text-align:center;
}

.leftList h1,.dapei h1{
	background:#f5f5f5;
	font:100 14px/45px '微软雅黑';
	text-align:left;
	border-bottom:1px solid #ddd;
	padding-left:20px;
}

.leftList li{
	background:#fff;
	border-bottom:1px solid #ededed;
	line-height:22px;
	padding:10px 8px;
	transition:background-color .5s;
}

.leftList li:hover{
	background-color:#f6f6f6;
	cursor:pointer;
}

.title{
	display:inline-block;
	width:160px;
	overflow:hidden;
	word-break:break-all;
	word-wrap:break-word;
	height:44px;
	margin-top:10px;
	display:block;
}

.title:hover{
	text-decoration:underline;
	color:#c00;
}

.price{
	font:700 18px/24px Verdana,Arial;
	color:#c00;
	text-align:left;
	display:block;
}

.leftList li img{
	border:1px solid #ddd;
	width:160px;
	height:160px;
	overflow:hidden;
}

.advertising li a{
	width:180px;
	height:180px;
	overflow:hidden;
	margin-top:10px;
	display:block;
}

.right{
	width:790px;
	float:left;
	overflow:hidden;
	margin-top:20px;
}

.dapei{
	border:1px solid #ddd;
	line-height:22px;
	width:788px;
	overflow:hidden;
	margin-bottom:20px;
}

.dapei h1{
	text-align:left;
	padding-left:20px;
	line-height:45px;
}

.dapeiList{
	margin:15px 0;
	padding-left:10px;
	float:left;
	width:580px;
	overflow:hidden;
}

.dapeiList li{
	margin:0 10px 0 0;
	float:left;
	width:135px;
	overflow:hidden;
	position:relative;
}

.dapeiList li img{
	width:100px;
	height:100px;
	overflow:hidden;
}

.dapeiList .title{
	width:100px;
}

.dapeiList .price{
	display:inline;
	font-size:14px;
}

.dapeiPrice{
	margin-top:20px;
	vertical-align:bottom;
}

.dapeiPrice strong{
	font:700 18px/24px Verdana,Arial;
	color:#c00;
	padding-left:3px;
}

.dapeiTotal .addCartBtn{
	margin-left:0;
}

.choose input{
	vertical-align:middle;
	cursor:pointer;
}

.dapeiList li s,.dapeiTotal s{
	background-position:0 -25px;
	width:24px;
	height:22px;
	position:absolute;
	top:40px;
}

.dapeiList li s{
	right:0;
}

.dapeiTotal{
	float:left;
	position:absolute;
	padding-left:55px;
	margin-top:15px;
	right:10px;
}

.dapeiTotal s{
	background-position:-30px -25px;
	left:0;
}

.ProTabTitle{
	border:1px solid #ddd;
	border-top:none;
	overflow:hidden;
	border-right:none;
	border-bottom:0;
}

.ProTabTitle li{
	width:196px;
	height:40px;
	float:left;
	background:#f2f1f4;
	text-align:center;
	display:block;
	font:bold 14px/40px "宋体";
	border:1px solid #ddd;
	border-left:none;
	cursor:pointer;
}

.ProTabTitle li.hit{
	border-top:2px solid #c00;
	border-bottom:0;
	background:#fafafa;
	height:39px;
	color:#c00;
}

.ProPingjia{
	padding:10px;
}

.ProPingjia li{
	margin-top:10px;
}

.jieshaoImg{
	margin-top:10px;
	text-align:center;
}

.user{
	text-align:center;
	float:left;
	width:130px;
}

.ProDetaliCon dl{
	float:left;
	padding:15px;
	border:1px solid #ddd;
	width:608px;
}

.ProDetaliCon dt,.ProDetaliCon dd{
	float:left;
	width:70px;
	line-height:22px;
}

.ProDetaliCon dd{
	width:518px;
	word-break:break-all;
}

.shareImg li{
	float:left;
	border:1px solid #ddd;
	margin-right:5px;
	padding:2px;
}

.shareImgBig{
	padding:2px;
	border:1px solid #ddd;
	margin-top:10px;
	min-width:50%;
	max-width:100%;
	width:388px;
}

.shareImg .current{
	border:2px solid #c00;
	position:relative;
}

.shareImg .current s{
	background-position:0 -50px;
	width:8px;
	height:5px;
	position:absolute;
	bottom:-7px;
	left:19px;
}

.page{
	float:right;
	margin-top:10px;
}

.page span,.page span.current,.page span:hover,.pagePrev,.pageNext,.prevDisble,extDisable{
	border:1px solid #dfdfdf;
	float:left;
	font:normal 14px/20px arial;
	height:20px;
	margin-left:2px;
	overflow:hidden;
	padding:3px 10px;
	display:inline-block;
	cursor:pointer;
}

.page span.current{
	background:#c00;
	color:#fff;
	border-color:#c00;
	cursor:default;
}

.page span:hover,.pagePrev:hover,.pageNext:hover{
	border-color:#c00;
}

.prevDisble,extDisable{
	cursor:default;
	color:#ccc;
}

.pageSplit{
	line-height:20px;
	padding:3px 10px;
	display:inline-block;
	float:left;
	color:#999;
}

.page .pageCount{
	border-color:#fafafa;
	line-height:28px;
	font-weight:normal;
	margin-left:10px;
}

.jumpto{
	line-height:20px;
	width:30px;
	padding:0 3px;
	text-align:center;
	border:1px solid #dfdfdf;
	margin:0 3px;
}

.jumptoBtn{
	display:inline-block;
	font:normal 12px/20px '微软雅黑';
	padding:0 10px;
	text-align:center;
	background:#c00;
	color:#fff;
	margin-left:10px;
}

.ProTable{
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	width:788px;
	margin-top:10px;
}

.ProTable th,.ProTable td{
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	background:#fafafa;
	text-align:center;
	line-height:22px;
	font:bold 14px/24px '宋体';
}

.ProTable th{
	background:#ededed;
}

.ProTable td{
	font:normal 12px/24px '宋体';
	text-align:left;
	padding-left:10px;
}

.tdTitle{
	width:120px;
}

.ProShouhou{
	margin-top:10px;
}

.zoombox{
	width:530px;
	margin:20px auto 0 auto;
}

.zoombox .tit{
	font-size:12px;
	color:#5e5e5e;
	line-height:20px;
	margin:0 0 10px 0;
}

.zoombox .photoBox{
	background:#fff;
	padding:2px;
	border:1px solid #E5E5E5;
	display:inline-block;
	margin:10px 20px 0 0;
	position:relative;
}

.zoombox .photoBox img{
	display:block;
}

.zoombox .photoBox .loadingBox{
	background:#fff;
	opacity:.3;
	*filter:alpha(opacity=30);
	z-index:1;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	margin:-8px 0 0 -8px;
	display:none;
}

.zoombox .photoBox .loading{
	background:url(images/loading_16.gif) no-repeat 0 0;
	width:16px;
	height:16px;
	display:inline-block;
}

.zoombox .zoom{
	cursor:url(images/T1HqQGXgtcXXaSQP_X-16-16.png),url(images/big.cur),auto;
}

.zoombox .photoArea{
	background:#F7F7F7;
	border:1px solid #EBEBEB;
	padding:10px;
	text-align:center;
	zoom:1;
}

.zoombox .minifier{
	cursor:url(images/small.cur),default;
}

.zoombox .photoArea .toolBar{
	padding:7px 0 0 0;
	text-align:right;
	font-size:12px;
}

.zoombox .photoArea .toolBar a{
	color:#36c;
	text-decoration:none;
}

.zoombox .photoArea .toolBar .view{
	padding-left:15px;
	background:url(images/array.gif) no-repeat;
	line-height:14px;
	margin-left:8px;
}

.zoomsmallpic{
	max-width:50px;
	max-height:50px;
	cursor:url(images/T1HqQGXgtcXXaSQP_X-16-16.png),url(images/big.cur),auto;
}

.zoombigpic{
	max-width:300px;
	max-height:300px;
	cursor:url(images/T1MQMFXgXcXXaSQP_X-16-16.png),url(images/small.cur),auto;
}

#addressSel{
	z-index:10;
}

#addressSel.hover .peisong{
	border-bottom:0;
}

.RefundAging th,.RefundAging td{
	text-align:center;
	border:1px solid #999;
	padding:5px;
	line-height:24px;
}

.RefundAging td p{
	text-indent:2em;
	text-align:left;
}

.RefundAging th{
	font-weight:bold;
	background:#eee;
}
